@model SPade.Models.DAL.Submission

@{
    ViewBag.Title = "Post Submission";
}

<div class="col-md-4 col-md-offset-4 form-horizontal jumbotron">
    <fieldset>
        <legend>Results</legend>

        <p>Completed By: @Html.DisplayFor(modelItem => modelItem.AdminNo)</p>
        <p>Submitted On: @Html.DisplayFor(modelItem => modelItem.Timestamp)</p>
        <p>Grade: @Math.Round(Model.Grade * 100)% </p>
        <p>@Html.ValidationMessage("SubmissionError")</p>
        <p><a href="/Student/ViewAssignment" class="btn btn-default">Back to view Assignments</a></p>

    </fieldset>
</div>