@model SPade.Models.DAL.Submission

@{
    ViewBag.Title = "Post Submission";
}

<div class="col-md-4 col-md-offset-4 form-horizontal">

    <fieldset>

        <legend>Results</legend>

        <ul>
            <li>Completed By: @Html.DisplayFor(modelItem => modelItem.AdminNo)</li>
            <li>Submitted On: @Html.DisplayFor(modelItem => modelItem.Timestamp)</li>
            <li>Grade: @Math.Round(Model.Grade * 100)% </li>
            <li><a href="/Student/ViewAssignment" class="btn btn-default">Back to view Assignments</a></li>
        </ul>

    </fieldset>

</div>
