@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="col-md-4 col-md-offset-4 form-horizontal">
    <p>SPade is created as part of a Final Year Project to help lessen the work load of lecturers in DMIT. It is created to aid students in learning to
    code basic programs and aid lecturers in doing so.</p>
</div>
