
@{
    ViewBag.Title = "ManageClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <fieldset>
            <legend>Manage Class</legend>

            <div class="form-group">
                <div>
                    <a href="AddOneClass" class="btn btn-primary">Add Class </a>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>

            <div class="form-group">
                <table id="classTable" class="table table-striped table-hover tablesorter">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Lecturer In-Charge</th>
                            <th>No. of Students</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>DIT/1A/FT/21</td>
                            <td>John Tan</td>
                            <td>18</td>
                            <td>
                                <a href="UpdateClass" class="btn btn-primary">Update</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DIT/1A/FT/22</td>
                            <td>Peter Pan</td>
                            <td>18</td>
                            <td>
                                <a href="UpdateClass" class="btn btn-primary">Update</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DIT/1A/FT/23</td>
                            <td>Bob Low</td>
                            <td>15</td>
                            <td>
                                <a href="UpdateClass" class="btn btn-primary">Update</a>
                            </td>

                        </tr>
                        <tr>
                            <td>DIT/1A/FT/24</td>
                            <td>Lim Keng</td>
                            <td>19</td>
                            <td>
                                <a href="UpdateClass" class="btn btn-primary">Update</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script>
                    $(document).ready(function () {
                        $("#classTable").tablesorter();
                    });
            </script>
        </fieldset>
    </div>
</div>

