@model SPade.ViewModels.Admin.UpdateClassViewModel

@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UpdateClass", "Admin", FormMethod.Post))
{
<div class="container">

    <div class="col-md-6 col-md-offset-3 form-horizontal">
        <fieldset>

            <legend>Update Class</legend>

            <!--Select Course-->
            <div class="form-group">
                <div class="col-md-12">
                    <label>Course</label>
                    @{
                        @Html.DropDownListFor(c => Model.CourseID, new SelectList(Model.Courses, "CourseID", "CourseName"), new { @class = "form-control" })
                    }
                </div>
            </div>

            <!-- classNameInput-->
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.ClassName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control input-md" })
                </div>
            </div>

            <!--Select lecturer-->
            <div class="form-group">
                <div class="col-md-12">
                    <label>Lecturer</label>
                    @{
                        @Html.DropDownListFor(c => Model.LecturerID, new SelectList(Model.Lecturers, "StaffID", "Name"), new { @class = "form-control" })
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a href="ManageClass" class="btn btn-primary">Update</a>
                    <a href="ManageClass" class="btn btn-danger">Delete</a>
                    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
                </div>
            </div>

        </fieldset>
    </div>
</div>
}