
@{
    ViewBag.Title = "UpdateLecturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-4 col-md-offset-4 form-horizontal">
        <fieldset>
            <legend>Update Lecturer</legend>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputLecturerName" class="control-label">Lecturer Name</label>
                    <input type="text" class="form-control" id="inputLecturerName" placeholder="Name" />

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputContact" class="control-label">Contact</label>
                    <input type="text" class="form-control" id="inputContact" placeholder="Contact" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputEmail" class="control-label">Email</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a id="btnUpdate" href="ManageLecturer" class="btn btn-primary">Update</a>
                    <a id="btnDelete" href="#" class="btn btn-danger">Delete</a>
                    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </fieldset>
    </div>
</div>