
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="col-md-6 col-md-offset-3 form-horizontal">
        <fieldset>

            <legend>Update Student</legend>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputName" class="control-label">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Name" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="" class="control-label">Class</label>
                    <select class="form-control" id="select">
                        <option>Select a class...</option>
                        <option>DIT/1A/FT/21</option>
                        <option>DIT/1A/FT/22</option>
                        <option>DIT/1A/FT/23</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="inputEmail" class="control-label">Email</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="" class="control-label">Contact Number</label>
                    <input type="text" class="form-control" id="inputContact" placeholder="Contact Number" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <a href="ManageStudent" class="btn btn-primary">Update</a>
                    <a href="ManageStudent" class="btn btn-danger">Delete</a>
                    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </fieldset>
    </div>
</div>