
@{
    ViewBag.Title = "Manage Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="col-md-10 col-md-offset-1">
        <fieldset>
            <legend>Assignments</legend>

            <div class="row">
                <div class="col-md-6">
                    <a href="AddAssignment" class="btn btn-primary">Add Assignment</a>
                </div>
            </div>

            <table class="table table-striped table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Issued On</th>
                        <th>Issued To</th>
                        <th>Due Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Java Practical 1</td>
                        <td>9/5/2016</td>
                        <td>DIT/1A/FT/21, DIT/1A/FT/23</td>
                        <td>12/5/2016</td>
                        <td>
                            <a href="UpdateAssignment" class="btn btn-primary btn-sm">Update Assignment</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Java Practical 2</td>
                        <td>10/5/2016</td>
                        <td>DIT/1A/FT/22, DIT/1A/FT/23, DIT/1A/FT/23</td>
                        <td>12/5/2016</td>
                        <td>
                            <a href="UpdateAssignment" class="btn btn-primary btn-sm">Update Assignment</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Java Practical 3</td>
                        <td>11/5/2016</td>
                        <td>DIT/1A/FT/22, DIT/1A/FT/24</td>
                        <td>13/5/2016</td>
                        <td>
                            <a href="UpdateAssignment" class="btn btn-primary btn-sm">Update Assignment</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
