
@{
    ViewBag.Title = "View Students by Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="col-md-10 col-md-offset-1 ">

        <fieldset>
            <!--This will be dynamic -> the class name will be pulled from DB and put here. -->
            <legend>DIT/1A/22</legend>

            <table id="studentTable" class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1431897</td>
                        <td>Bob Chan</td>
                        <td>bob@gmail.com</td>
                        <td>98875869</td>
                        <td>
                            <a href="UpdateStudent" class="btn btn btn-primary btn-sm">Update</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1431954</td>
                        <td>Jenny Tan</td>
                        <td>jantan@outlook.sg</td>
                        <td>96043576</td>
                        <td>
                            <a href="UpdateStudent" class="btn btn btn-primary btn-sm">Update</a>
                        </td>
                    </tr>
                    <tr>
                        <td>146454</td>
                        <td>Jonathan Chia</td>
                        <td>jon.chia@yahoo.com.sg</td>
                        <td>97837545</td>
                        <td>
                            <a href="UpdateStudent" class="btn btn btn-primary btn-sm">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
